# Ignore everything
*

# EXCEPT the .gitignore file itself (always a good idea)
!.gitignore

# EXCEPT following files
!data.json

# Thumbnail
!thumbnail/
!thumbnail/**
thumbnail/*
!thumbnail/*.png
!thumbnail/*.jpg
!thumbnail/*.jpeg
!thumbnail/*.gif
!thumbnail/*.webp
!thumbnail/*.avif
